.App {
  text-align: center;
  width: 100%;
}

.card {
  display: inline-block;
  border: 1px solid black;
  border-radius: 5px;
  margin: 10px;
}

img {
  max-width: 100%;
}

#gameboard {
  background-color: bisque;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

#gameboard p {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 1.1em;
  font-weight: bold;
}

#scoreboard {
  background-color: orange;
}

#scoreboard p {
  font-size: 2em;
}