body {
  background-color: #475285;
  font-family: 'Noto Sans', sans-serif;
}

.App {
  text-align: center;
  max-width: 800px;
  margin: 25px auto;
  border: 1px #EFEFEF solid;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 25px;
}

p {
  margin: 0;
}

.card {
  display: inline-block;
  transition: transform .5s ease;
}

.card :hover{
  transform: scale(1.1);
}

img {
  max-width: 100%;
}

#gameboard {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

#gameboard p {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 1.1em;
  font-weight: bold;
}

#scoreboard {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

#scoreboard p {
  font-size: 2em;
  align-self: center;
  font-weight: bold;
}